
.titleDivider
{
  border-right: 1px solid #333a41;
}

@media (max-width: 768px) {
  .titleDivider
  {
    border-right: unset;
  }
}

:host ::ng-deep .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

:host ::ng-deep .trigger:hover {
  color: #1890ff;
}

:host ::ng-deep .logo {
  height: 32px;
  background: rgba(255, 255, 255, .2);
  margin: 16px;
}


/* Back to Top Starts */
:host ::ng-deep .ant-back-top {
  bottom: 100px;
}

:host ::ng-deep .ant-back-top-inner {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 4px;
  background-color: #1088e9;
  color: #fff;
  text-align: center;
  font-size: 20px;
}

:host ::ng-deep strong {
  color: rgba(64, 64, 64, 0.6);
}
/* Back to Top Ends */



/* Search Box Starts */
.anticon-search {
  color: #1C9DC5;
  font-weight: 900;
  font-size: 25px;
}

.anticon-close-circle {
  cursor: pointer;
  color: #ccc;
  transition: color 0.3s;
  font-size: 12px;
}

.anticon-close-circle:hover {
  color: #999;
}

.anticon-close-circle:active {
  color: #666;
}
/* Search Box Ends */


